<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Oops! Some error has occured.</h1>
    <p>Sorry, we are unable to process your request at the moment. Please try again later.</p>
    <p>Or you can go back to the <a href="/">home page</a>.</p>

<%- include('includes/end.ejs') %>